<div class="row">
  <table class="table">
    <tr>
      <th style="width: 10%">User Id</th>
      <th style="width: 10%">UserName</th>
      <th style="width: 10%">Active roles</th>
      <th style="width: 20%"></th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.userName}}</td>
      <td> <h5 *ngFor="let role of user.roles">{{role.roleName != undefined ? role.roleName : role}}</h5></td>
      <td> <button class="btn btn-info" (click)="editRolesModal(user)">Edit Roles</button>

      </td>
    </tr>
  </table>
</div>